table{
	font-size: 30px;
	font-family:Aerial;
	text-decoration: none;
}
a{
	text-decoration: none;
}


.Home{
	text-decoration: none;
	font-family: comic sans ms;
	font-size: 20px;
}

.H2{
	font-family: khand;
	font-size: 36px;
}